.bookmark-wrap {
}
.bookmark-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1vw;
}

#bookmark {
  position: relative;
  background-color: white;
  width: 6vw;
  height: 6vw;

  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(147, 147, 162, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin: 0.5vw;
  color: var(--grey);
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
}

#favicon {
  width: 2vw;
  height: 2vw;
  background-size: cover;
  margin-bottom: 0.2vw;
  cursor: pointer;
}
#favicon:active {
  transform: scale(0.9);
}
#bookmark span {
  text-align: center;
  width: 100%;
  font-size: 0.8vw;
  cursor: pointer;
}
#bookmark span:active {
  transform: scale(0.9);
}
#bookmark .fa-plus {
  cursor: pointer;
  opacity: 0.6;
}
#bookmark .fa-plus:active {
  transform: scale(0.9);
}

#bookmark #delete {
  opacity: 0.8;
  font-size: 0.1vw;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
#bookmark #delete:active {
  transform: scale(0.9);
}
