#clock {
  color: var(--white-opacity);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#datePrint {
  font-size: 0.6vw;
  letter-spacing: 0.26vw;
}

#timePrint {
  padding-left: 0.6vw;
  font-size: 2.83vw;
  letter-spacing: 10px;
}
