#clock {
  color: var(--white-opacity);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#datePrint {
  font-size: 0.6vw;
  letter-spacing: 0.2vw;
}

#timePrint {
  font-size: 2.8vw;
  letter-spacing: 10px;
}
