#clock {
  color: var(--white-opacity);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#datePrint {
  font-size: 1vw;
  letter-spacing: 3px;
}

#timePrint {
  font-size: 3vw;
  letter-spacing: 10px;
}
