.canvas-div {
}
.main-screen__column--wrap {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.canvas-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.5), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.controls {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.controls__btns {
  margin: 0.1vw 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.controls__btns button {
  all: unset;
  margin: 0.2vw;
  font-size: 1vw;
  cursor: pointer;
  background-color: white;
  width: 5vw;
  height: 2vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: var(--grey);
  text-transform: uppercase;
  font-weight: 600;
}
button:active {
  transform: scale(0.95);
}
.controls__colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}
.controls__color {
  margin-bottom: 1px;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls__range input {
  width: 13vw;
  margin: 1vw 0;
}
