#quote {
  color: white;
  padding: 0.5vw 1vw;
  opacity: 0.9;
  width: 40%;
  height: 4vw;
  border-radius: 50px;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#qutoe span {
  text-align: center;
}
#quote span:first-child {
  font-size: 1.2vw;
  margin-bottom: 0.5vw;
}

#quote span:last-child {
  opacity: 0.5;
  font-size: 0.5vw;
}
