.to-do-div {
}

.to-do__low {
  margin-top: 2vw;
}

.to-do-form {
  margin-bottom: 0;
}
.to-do-form #to-do-form {
  display: flex;
  justify-content: center;
}

#to-do-form input {
  color: var(--grey);
  font-size: 1.2vw;
  width: 15vw;
}
.to-do-list {
  color: var(--grey);
  font-size: 1.2vw;
  margin: 1.4vw 0;
}

.to-do-list ul li span {
  margin-left: 0.5vw;
}

#to-do-form button {
  all: unset;
  font-size: 1vw;
  cursor: pointer;
  opacity: none;
  margin-left: 1vw;
  padding: 0.5vw 0.5vw;
  width: 3.2vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: var(--grey);
  text-transform: uppercase;
  font-weight: 600;
  background-color: white;
}
#to-do-form button:active {
  transform: scale(0.95);
}
#to-do__btn {
  font-size: 1vw;
  width: auto;
  height: auto;
  border: none;
  box-shadow: none;
  background-color: transparent;

  cursor: pointer;
}
