.to-do-div {
}

.to-do__low {
  margin-top: 2vh;
}

.to-do-form {
  margin-bottom: 0;
}
.to-do-form #to-do-form {
  display: flex;
  justify-content: center;
}

#to-do-form input {
  color: var(--grey);
  font-size: 2.5vh;
  width: 200px;
}
.to-do-list {
  color: var(--grey);
  font-size: 15px;
  margin: 2vh 0;
}

.to-do-list ul li span {
  margin-left: 10px;
}

#to-do-form button {
  all: unset;
  font-size: 2vh;
  cursor: pointer;
  opacity: none;
  margin-left: 10px;
  padding: 5px 5px;
  width: 50px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: var(--grey);
  text-transform: uppercase;
  font-weight: 600;
  background-color: white;
}
#to-do-form button:active {
  transform: scale(0.95);
}
#to-do__btn {
  font-size: 10px;
  width: auto;
  height: auto;
  border: none;
  box-shadow: none;
  background-color: transparent;

  cursor: pointer;
}
