.main-screen {
  margin-bottom: 5vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding: 2vw 0;
  flex-wrap: wrap;
}
.column__title {
  color: var(--grey);
  width: 100%;
  height: 3vh;
  text-align: center;
  margin: 1vw 0;
  font-size: 2vh;
}

.main-screen__column {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vw;
  width: 300px;
  height: 400px;
  background-color: rgba(256, 256, 256, 0.8);
  border-radius: 50px;
  box-shadow: var(--main-box-shadow);
  overflow: scroll;

  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .main-screen__column:nth-child(2) {
    order: -1;
  }
  .main-screen__column:last-child {
    display: none;
  }
}
