.header-screen {
  height: 10vh;
}
.status-bar {
  color: var(--white-opacity);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2vw 5vw;
  box-sizing: border-box;
  background-color: var(--grey);
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  box-shadow: var(--main-box-shadow);
  -webkit-animation: slide-in-blurred-top 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.status-bar__column {
  font-size: 2vh;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#status-bar__greeting {
  font-size: 2.2vh;
  text-align: center;
}
#status-bar__loginform {
}
#status-bar__loginform input {
  color: var(--white-opacity);
  font-size: 2.5vh;
  border-bottom: 1px solid var(--white-opacity);
}
#status-bar__loginform input::placeholder {
  color: var(--white-opacity);
}

#status-bar__loginform button {
  all: unset;
  background-color: var(--background-white-opacity);
  font-size: 0.01px;
  color: var(--grey);
  cursor: pointer;
  padding: 4px 5px;
  width: 38px;
  height: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
